.home
  header
    font-size 1.18rem
    padding-top 30px
    .title
      text-align center
    .link
      display flex
      justify-content space-around
      max-width 300px
      margin 30px auto 0
