.page-nav
  box-shadow 0 0 2px rgba(0, 0, 0, .4)
  .container
    position relative
    transition all .6s ease-out
    height 60px
    width 70%
    margin 0 auto
    box-sizing border-box
    overflow hidden
    & > *
      position absolute
      line-height 60px
    a
      &:first-of-type
        left 0
      &:last-of-type
        right 0
    .title
      left 50%
      transform translateX(-50%)
    @media (max-width 768px)
      width 96%
