.room-item
  transition all 1s ease-in
  // opacity 0
  // transform translateY(-20px)
  // &.init
  //   opacity 1
  //   transform translateY(0)
  &.active
    .content
      height auto
      opacity 1
      transform translateY(0)

  .title
    display flex
    align-items center
    justify-content center
    flex-direction column
    cursor pointer
    padding 0 0 10px
    h3
      padding-bottom 5px
    p
      font-size 12px
      font-weight 800
    @media (max-width 768px)
      padding 10px 0
      flex-direction row
      justify-content space-between
      h3
        padding 0

  .content
    opacity 0
    height 0
    transform translateY(-20px)
    overflow hidden
    transition all .2s ease-in
    table
      border-top 2px dashed #eee
      padding-top 20px
      width 100%
      tr
        text-align center
        min-height 26px
        font-size 14px
        @media (max-width 768px)
          font-size 13px
        th
          width 14.6%
          cursor pointer
          height 36px
          line-height 36px
          border-radius 2px
          background #fff
          transition all linear
          for row in (2..6)
            &:nth-child({row})
              transition-delay row * 0.02s
              transition-duration .2s
              // transition-duration .2s - (row * 0.02s)
          &:first-child
            width 27%
            background #41b783
            color #fff
          &.active
            color #fff
            background #41b783
        td
          padding 2px 0
          font-weight 500
          color #fff
          &:first-child
            color #333
            line-height 26px
          &.free
            background #4688f1
          &.busy
            background #d85a63
