.room-item
  .title
    cursor pointer
  .content
    opacity 0
    height 0
    overflow hidden
    transition all .2s ease-in
    &.active
      height auto
      opacity 1
    table
      border-top 2px dashed #eee
      padding-top 20px
      width 100%
      tr
        text-align center
        min-height 26px
        @media (max-width 768px)
          font-size 13px
        th
          width 14.6%
          cursor pointer
          height 36px
          line-height 36px
          border-radius 2px
          background #fff
          transition all linear
          for row in (2..6)
            &:nth-child({row})
              transition-delay row * 0.02s
              transition-duration .2s
              // transition-duration .2s - (row * 0.02s)
          &:first-child
            width 27%
            background #41b783
            color #fff
          &.active
            color #fff
            background #41b783
        td
          padding 2px 0
          font-weight 500
          color #fff
          &:first-child
            color #333
            line-height 26px
          &.free
            background #4688f1
          &.busy
            background #d85a63
